<div class="container-fluid">
    <button #toggleBtn (click)="expandClick();"
        class="toggle-btn btn btn-outline-secondary btn-lg btn-block hidden visible-xs hide-btn" type="button"
        data-toggle="collapse" data-target="#SearchParameters" aria-expanded="false" aria-controls="SearchParameters">
        <span class="btn-txt">
            {{ expandTxt }}
            <i class="i-Arrow-Down-3" aria-hidden="true" style="float: right;padding: 4px;" *ngIf="!isExpand"></i>
            <i class="i-Arrow-Up-3" aria-hidden="true" style="float: right;padding: 4px;" *ngIf="isExpand"></i>
        </span>
    </button>

    <div class="row ">
        <div class="collapse col-lg-3 col-md-5 SearchParameters" id="SearchParameters">
            <div class="row">
                <div class="col-md-8 col-xs-6 padding-right-0">
                    <div class="input-group">
                        <input type="text" [(ngModel)]="pincode" (keypress)="numOnly($event)" class="form-control"
                            placeholder="Search Pin Code" (keyup.enter)="searchPinLatLng($event.target.value)"
                            maxlength="6" />
                        <span class="search-icon">
                            <i class="i-Magnifi-Glass1" aria-hidden="true"
                                style="cursor: pointer;color:gray;padding-top: 10px;"
                                (click)="searchPinLatLng(pincode)"></i>
                        </span>
                    </div>
                </div>
                <div class="col-md-4 col-xs-6 padding-left-0">
                    <button type="button" style="width: 100%" class="btn btn-light "
                        (click)="openFilterModal(modalBasic)"><i class="i-Filter-2" aria-hidden="true"></i>
                        Filter</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="search-list">

                        <div class="empty-msgbox card border-light mb-3"
                            *ngIf="warehouses?.length==0 && srcLoc == null">
                            <div>
                                <div>
                                    <div class="msgbox-header">
                                        Use search to get the nearest warehouse.
                                    </div>
                                    <div class="msgbox-text">
                                        Please search with the pin code to get warehouse lists or use filter to get from
                                        the
                                        specific dealer.
                                    </div>
                                </div>
                            </div>
                        </div><!-- =empty-msgbox End//= -->

                        <div class="card border-light mb-3 coll card-width ">
                            <div class="card-body coll" *ngIf="srcLoc" (click)="focusMap(srcLoc, null);"
                                [ngClass]="{'active-card' : activeCard['src']}">
                                <span class="card-title">
                                    <h5>
                                        {{ (searchDealer.dealer_name) ? searchDealer.dealer_name : 'Searched Pin Code' }}
                                    </h5>
                                    <h6>{{ pincode }}</h6>
                                </span>
                                <p class="card-text card-state" *ngIf="searchDealer.state">{{ searchDealer.state }}</p>
                                <p class="card-text card-txt">Routes been shown from this source pincode. marked green
                                    on map</p>
                                <span class="badge badge-light">Dealer</span>
                            </div>
                        </div>

                        <div class="card border-light mb-3 coll card-width"
                            *ngFor="let warehouse of warehouses; let i=index">
                            <!-- <div class="card-header">Header</div> -->
                            <div class="card-body coll" [ngClass]="{'active-card' : activeCard[i]}"
                                *ngIf="warehouse.lat" (click)="focusMap(warehouse, i);">
                                <span class="card-title">
                                    <h5>{{ warehouse.plant }}</h5>
                                    <h6>{{ warehouse.pinCode }}</h6>
                                </span>
                                <p class="card-text card-txt">{{ warehouse.plant }}</p>
                                <span class="badge badge-light" style="margin-right: 2px;">Warehouse</span>
                                <span class="badge badge-light">{{warehouse.distance}} KM away</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-7 padding-left-0">
            <app-map-view></app-map-view>
        </div>
    </div>
</div>

<ng-template #modalBasic let-modal>
    <form #f="ngForm" [formGroup]="filterForm" (ngSubmit)="filterForm.valid && onSubmit(filterForm.value);">
        <div class="modal-header">
            <h4 class="modal-title">Search Filter</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <label>States</label>
            <ng-select [items]="states" (change)="getDealersList($event)" bindLabel="name" [loading]="peopleLoading"
                [searchFn]="customSearchFn" [formControl]="filterForm.controls['state']" required
                [placeholder]="'Select State'">
                <ng-template ng-option-tmp let-item="item">
                    {{item}}
                </ng-template>
            </ng-select>
            <label>Dealers</label>
            <ng-select [items]="dealers" bindLabel="dealer_name" [loading]="peopleLoading" [searchFn]="dealerSearchFn"
                [formControl]="filterForm.controls['dealer']" required [placeholder]="'Select Dealer'">
                <ng-template ng-option-tmp let-item="item">
                    {{item.dealer_name}} <br />
                    <small><em>Pin Code : {{item.pinCode+', ' }}</em> <em>Dealer Id : {{item.dealer_id }}</em></small>
                </ng-template>
            </ng-select>
        </div>
        <div class="modal-footer">
            <button class="btn btn-outline-success" (click)="modal.close(filterForm.value)">Submit</button>
            <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Close click')">Close</button>
        </div>
    </form>
</ng-template>