<div class="container-fluid">
    <button #toggleBtn (click)="expandClick();"
        class="toggle-btn btn btn-outline-secondary btn-lg btn-block hidden visible-xs hide-btn" type="button"
        data-toggle="collapse" data-target="#SearchParameters" aria-expanded="false" aria-controls="SearchParameters">
        <span class="btn-txt">
            {{ expandTxt }}
            <i class="i-Arrow-Down-3" aria-hidden="true"
                style="float: right;padding: 0px;color: red;font-size: 16px;font-weight: bold;" *ngIf="!isExpand"></i>
            <i class="i-Arrow-Up-3" aria-hidden="true"
                style="float: right;padding: 0px;color: red;font-size: 16px;font-weight: bold;" *ngIf="isExpand"></i>
        </span>
    </button>
    <div class="row ">
        <div class="collapse col-lg-3 col-md-3 SearchParameters" id="SearchParameters">
            <form #f="ngForm" [formGroup]="indexForm" (ngSubmit)="indexForm.valid && indexType(indexForm.value);">
                <div class="row">
                    <div class="col-md-8 col-xs-6 padding-right-0">
                        <div class="input-group padding-left-0 padding-right-0">
                            <ng-select [formControl]="indexForm.controls['index']" [placeholder]="'Index Type'"
                                [searchable]="false" [clearable]="false">
                                <ng-option value="customer">
                                    Customer Penetration
                                </ng-option>
                                <ng-option value="exchange">
                                    Exchange Potential
                                </ng-option>
                                <ng-option value="tier">
                                    Cust and IFB points
                                </ng-option>
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-6 padding-left-0">
                        <button type="submit" style="width: 100%; font-size: 12px;" class="btn btn-light ">Submit <i
                                class="i-Paper-Plane" aria-hidden="true"></i></button>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="input-group padding-left-0 padding-right-0">

                        <ng-select *ngIf="index=='customer'" [items]="citiesList" appearance="outline"
                            (change)="getCity($event)" bindLabel="City" [searchFn]="customSearchFn" required
                            [placeholder]="'Search or Select City'">
                            <ng-template ng-option-tmp let-item="item">
                                {{item.City}}<br />
                                <small><em>Dealer Pen. : {{ item.Dealer_Penetration | number}} , Customer Pen. :
                                        {{ item.Customer_penetration | number}}</em></small>
                            </ng-template>
                        </ng-select>
                        <ng-select *ngIf="index=='exchange'" [items]="exchangeList" appearance="outline"
                            (change)="getExchangeData($event)" bindLabel="PinCode" class="custom"
                            [searchFn]="customeSearchExchangeFn" required
                            [placeholder]="'Search or Select City Pin Code'">
                            <ng-template ng-option-tmp let-item="item">
                                {{ item.City }} - {{item.PinCode}}<br />
                                <small><em>Customer : {{ item.total | number}} , Washing Machine :
                                        {{ item.WM | number}}</em></small>
                            </ng-template>
                        </ng-select>
                        <ng-select *ngIf="index == 'tier'" appearance="outline" class="custom"
                            [placeholder]="'Select Tier Type'" [searchable]="false" [clearable]="false"
                            [(ngModel)]="tierType" (change)="getTierTypeData($event)">
                            <ng-option value="Tier_2">
                                Tier 2
                            </ng-option>
                            <ng-option value="Tier_3">
                                Tier 3
                            </ng-option>
                            <ng-option value="Tier_4">
                                Tier 4
                            </ng-option>
                        </ng-select>
                        <ng-select *ngIf="index == 'tier'" [items]="list" appearance="outline"
                            (change)="getTierData($event)" bindLabel="city1" class="custom" [searchFn]="TierSearchFn"
                            required [placeholder]="'Search or Select City'">
                            <ng-template ng-option-tmp let-item="item">
                                {{ item.city1 }} <br />
                                <small><em>Tier Type : {{ item.tier }}</em></small>
                            </ng-template>
                        </ng-select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="search-list">
                        <div class="empty-msgbox card border-light mb-3" *ngIf="list?.length==0">
                            <div>
                                <div>
                                    <div class="msgbox-header">
                                        Use search to get the CRM for different Indexes.
                                    </div>
                                    <div class="msgbox-text">
                                        Please Use the City search and the filter for specific search.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span *ngIf="index=='customer'">
                            <div class="card border-light mb-3 coll card-width"
                                *ngFor="let citiesList of list; let i=index" (click)="listClicked(citiesList, i)">
                                <!-- <div class="card-header">Header</div> -->
                                <div class="card-body coll" [ngClass]="{'active-card' : activeCard[i]}">
                                    <span class="card-title">
                                        <h5>{{ citiesList.City }}</h5>
                                        <!-- <h6>{{ warehouse.pinCode }}</h6> -->
                                    </span>
                                    <p class="card-text card-txt"><b>Dealer Penetration and Customer penetration </b>
                                        for
                                        the city
                                        <b>{{ citiesList.City }}</b> respectivelty</p>
                                    <span class="badge badge-light"
                                        style="margin-right: 2px;">{{ citiesList.Dealer_Penetration | number}} per lacs
                                        of
                                        population</span>
                                    <span class="badge badge-light">{{ citiesList.Customer_penetration | number}} per
                                        lacs
                                        of population</span>
                                </div>
                            </div>
                        </span>

                        <span *ngIf="index == 'exchange'">
                            <div class="card border-light mb-3 coll card-width"
                                *ngFor="let exchangeList of list; let i=index" (click)="listClicked(exchangeList, i)">
                                <div class="card-body coll" [ngClass]="{'active-card' : activeCard[i]}">
                                    <span class="card-title">
                                        <h5>{{ exchangeList.City }} - {{ exchangeList.PinCode }}</h5>
                                    </span>
                                    <p class="card-text card-txt"><b>Product distribution </b> for
                                        the city
                                        <b>{{ exchangeList.City +' having Pin Code : '+ exchangeList.PinCode }}</b></p>
                                    <span class="badge badge-light">{{ exchangeList.total | number}} total</span>
                                    <span class="badge badge-light"
                                        style="margin-right: 2px;">{{ exchangeList.WM | number}}
                                        WM</span>
                                    <span class="badge badge-light"
                                        style="margin-right: 2px;">{{ exchangeList.MW | number}}
                                        MW</span>
                                    <span class="badge badge-light"
                                        style="margin-right: 2px;">{{ exchangeList.AC | number}}
                                        AC</span>
                                    <span class="badge badge-light"
                                        style="margin-right: 2px;">{{ exchangeList.DW | number}}
                                        DW</span>
                                    <span class="badge badge-light"
                                        style="margin-right: 2px;">{{ exchangeList.KA | number}}
                                        KA</span>
                                    <span class="badge badge-light"
                                        style="margin-right: 2px;">{{ exchangeList.IND | number}}
                                        IND</span>
                                </div>
                            </div>
                        </span>
                        <span *ngIf="index == 'tier'">
                            <div class="card border-light mb-3 coll card-width"
                                *ngFor="let tierList of list; let i=index" (click)="listClicked(tierList, i)">
                                <div class="card-body coll" [ngClass]="{'active-card' : activeCard[i]}">
                                    <span class="card-title">
                                        <h5>{{ tierList.city1 }}</h5>
                                    </span>
                                    <span class="badge badge-light" style="font-size: 7.1px;">{{ tierList.tier }}</span>
                                    <span class="badge badge-light" style="font-size: 7.1px;">Population
                                        {{ tierList.Population }}</span>
                                </div>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="padding-left-0"
            [ngClass]="{'col-lg-9': !showDetail,  'col-md-9': !showDetail, 'col-sm-12': !showDetail, 'col-md-5' : showDetail}">
            <div class="show-details" *ngIf="index=='tier'">
                <button class="toggle-btn btn btn-outline-secondary btn-lg btn-block" (click)="expandDetails()">
                    {{ (showDetail) ? 'Hide' : 'Show' }} Details
                </button>
            </div>
            <div
                [ngClass]="{'map-height' : (showDetail), 'map-height-100' : (!showDetail && index != 'tier'), 'map-height-94': (!showDetail && index == 'tier') }">
                <app-map-view></app-map-view>
            </div>
            <button #detailsBtn *ngIf="index=='tier'" (click)="expandDetails();"
                class="toggle-btn btn btn-outline-secondary btn-lg btn-block hidden visible-xs hide-btn" type="button"
                data-toggle="collapse" data-target="callDetails" aria-expanded="true" aria-controls="callDetails">
                <span class="btn-txt">
                    {{ (showDetail) ? 'Hide' : 'Show' }} Details
                    <i class="i-Arrow-Down-3" aria-hidden="true"
                        style="float: right;padding: 0px;color: red;font-size: 16px;font-weight: bold;"
                        *ngIf="!isDetails"></i>
                    <i class="i-Arrow-Up-3" aria-hidden="true"
                        style="float: right;padding: 0px;color: red;font-size: 16px;font-weight: bold;"
                        *ngIf="isDetails"></i>
                </span>
            </button>

        </div>

        <div class="detail-list callDetails" id="callDetails"
            [ngClass]="{'col-lg-4': showDetail, 'col-md-4' : showDetail, 'col-sm-12' : showDetail}" *ngIf="showDetail"
            [@animate]="{value:'*',params:{x:'120px',opacity:'0',delay:'50ms', duration: '250ms'}}">
            <div class="card border-light mb-3 o-hidden" style="width: 100%;">
                <div class="card-body coll" style="padding: 0px">
                    <span class="card-title" style="text-align:center; margin: 0px auto;">
                        <h5>Top Tier Data</h5>
                        <!-- <h6><small><em>Data as on {{ branch.last_updated_on | date : 'd MMM y, h:mm a' }}</em></small> 
                        </h6>-->
                    </span>
                </div>
            </div>
            <div class="card border-light mb-3 o-hidden table-card" style="width: 100%;">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">City</th>
                            <th scope="col">Pin Code</th>
                            <th scope="col">Population</th>
                            <th scope="col">Tier</th>
                            <th scope="col">Dealer</th>
                            <th scope="col">Dealer Pin</th>
                            <th scope="col">Distance(KM)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let topTier of topTier; let i=index;">
                            <tr>
                                <th scope="row">{{ topTier.city }}</th>
                                <td>{{ topTier.PinCode }}</td>
                                <td>{{ topTier.population }}</td>
                                <td>{{ topTier.tier }}</td>
                                <td>{{ topTier.Dealer }}</td>
                                <td>{{ topTier.Dealer_pin }}</td>
                                <td>{{ topTier.Distance }}</td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </div>