.input-group {
	border-bottom: 1px gray solid;
	/* width: 70%; */
	float: left;
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	float: left;
	width: 100%;
}

input {
	border: none;
	background-color: transparent;
}

input:focus, select:focus, textarea:focus, button:focus {
	outline: none;
}

.btn-light {
	color: #474d6d;
	background-color: #f8f9fa;
	border-color: #f8f9fa;
}

/******************** empty msg box  *******************************/

.empty-msgbox {
	margin: 0;
	/* position: absolute; */
	top: 30% !important;
	/* left: 50%; */
	background-color: #fafbfc;
	/* border: solid 1px #edeff2; */
	/* width: 410px !important; */
	/* max-width: 420px !important; */
	min-height: 128px !important;
	padding: 29px 35px;
}

.msgbox-header {
	font-family: var(--ion-font-family);
	font-size: 15px;
	color: #192231;
	line-height: 24px;
	padding: 12;
	margin: 0px 0px 7px 0px !important;
	text-align: center;
	font-weight: bold;
}

.msgbox-text {
	font-family: var(--ion-font-family);
	font-size: 10px;
	color: #192231;
	line-height: 24px;
	padding: 12;
	margin: 0px 0px 7px 0px !important;
	text-align: center;
}

/******************** empty msg box  *******************************/

.search-list {
	background-color: #f7f7f7;
	margin-top: 10px;
	overflow-y: auto;
	height: calc(100vh - 125px);
	/* height: calc(100vh - 399px); */
}

.btn-txt {
	display: block;
	pointer-events: none;
}

.show-details {
	display: none;
	float: right;
}

.detail-list {
	background-color: #f7f7f7;
	margin-top: 10px;
	overflow-y: auto;
	height: calc(100vh - 32px);
}

thead {
	font-size: 9px;
}

thead tr th {
	padding-right: 0px;
}

tr th {
	font-size: 8.4px;
}

.table tbody tr:nth-child(2n) {
	/* background-color: rgba(214, 222, 84, 0.08); */
	/* font-size: 10px; */
}

tbody tr td {
	border: 1px solid rgba(214, 222, 84, 0.26);
	padding: 4px;
	padding-left: 6px;
	font-size: 10px;
}

thead th {
	padding-left: 0px;
	text-justify: inter-word;
	text-align: center;
}

@media only screen and (max-width: 500px) {
	.search-list {
		height: calc(100vh - 400px);
	}
	.detail-list {
		height: 100%
	}
	.map-height-100 {
		height: 100%;
	}
	.map-height {
		height: calc(100vh - 61px) !important;
	}
	tbody tr td {
		font-size: 5px;
	}
}

@media only screen and (max-width: 1024px) {
	.table-card {
		overflow-x: auto;
	}
}

@media only screen and (min-width: 768px) {
	.detail-list .card {
		width: 600px;
	}
	.no-margin-row {
		margin: 0px;
	}
	.padding-left-0 {
		padding-left: 0px;
	}
	.padding-right-0 {
		padding-right: 0px;
	}
	.hide-btn {
		display: none;
	}
	.SearchParameters, #SearchParameters {
		display: block;
	}
	.card-width {
		/* max-width: 18rem; */
		cursor: pointer;
	}
	.show-details {
		display: block;
	}
	.map-height-100 {
		height: 100%;
	}
	.map-height-94 {
		height: 94%;
	}
	.map-height {
		height: calc(100vh - 61px) !important;
	}
}

.card-width {
	margin: 4px 8px;
	margin-bottom: 0.4rem!important;
}

.card-body {
	padding: 0.7rem;
}

.toggle-btn {
	background: none;
	height: 20px;
	padding-top: 0px;
	margin-bottom: 9px;
	margin-top: 9px;
	color: black;
	font-size: 12px;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-secondary.dropdown-toggle:focus {
	box-shadow: none;
	background: #ffff;
	color: black;
	border: 1px solid black;
}

.btn-outline-secondary.focus, .btn-outline-secondary:active {
	box-shadow: inset 0 -5px 45px rgba(177, 176, 176, 0.4), 0 1px 1px rgba(255, 255, 255, 0.2);
}

.active-card {
	border-left: 3px solid #77787c;
	/* border-radius: 7px; */
}

/*******************************************/

.badge-light {
	color: #212529;
	background-color: #ece9e9;
}

.badge {
	display: inline-block;
	padding: 1em 1em;
	font-size: 48%;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 1rem;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/*******************************************/

.card-title h5 {
	font-size: 1rem;
}

.card-title h6 {
	font-size: 0.8rem;
}

.card-state {
	font-size: 0.8rem;
}

.card-txt {
	font-size: 0.6rem;
}

.ng-select {
	width: 100% !important;
}

.ng-select .ng-select-container {
	border-radius: unset !important;
	border: 0px !important;
}

.ng-select.ng-select-focused.ng-select-container {
	border-color: unset;
	box-shadow: none;
}