<div class="container-fluid">
    <button #toggleBtn (click)="expandClick();"
        class="toggle-btn btn btn-outline-secondary btn-lg btn-block hidden visible-xs hide-btn" type="button"
        data-toggle="collapse" data-target="#SearchParameters" aria-expanded="false" aria-controls="SearchParameters">
        <span class="btn-txt">
            {{ expandTxt }}
            <i class="i-Arrow-Down-3" aria-hidden="true"
                style="float: right;padding: 0px;color: red;font-size: 16px;font-weight: bold;" *ngIf="!isExpand"></i>
            <i class="i-Arrow-Up-3" aria-hidden="true"
                style="float: right;padding: 0px;color: red;font-size: 16px;font-weight: bold;" *ngIf="isExpand"></i>
        </span>
    </button>
    <div class="row ">
        <div class="collapse col-lg-3 col-md-3 SearchParameters" id="SearchParameters">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12">
                    <div class="padding-left-0 padding-right-0">
                        <ng-select [items]="branchDetails" appearance="outline" (change)="getCity($event)"
                            bindLabel="Branch" [searchFn]="customSearchFn" required
                            [placeholder]="'Search or Select Branch'">
                            <ng-template ng-option-tmp let-item="item">
                                {{item.Branch}}<br />
                                <small><em> Branch Code : {{ item.BrCode }}</em></small>
                            </ng-template>
                        </ng-select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="search-list">

                        <div class="empty-msgbox card border-light mb-3" *ngIf="branchDetails?.length == 0">
                            <div>
                                <div>
                                    <div class="msgbox-header">
                                        No pending calls data found for the day.
                                    </div>
                                    <div class="msgbox-text">
                                        Please wait till the summary gets updated for the day.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- =empty-msgbox End//= -->

                        <div class="card border-light mb-3 coll card-width"
                            *ngFor="let branch of branchDetails; let i=index" (click)="listClicked(branch, i)">
                            <!-- <div class="card-header">Header</div> -->
                            <div class="card-body coll" [ngClass]="{'active-card' : activeCard[i]}">
                                <span class="card-title">
                                    <h5>{{ branch.Branch }}</h5>
                                </span>
                                <p class="card-text card-txt">{{ branch.BrCode }}</p>
                                <span class="badge badge-light" style="margin-right: 2px;">Branch</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="padding-left-0"
            [ngClass]="{'col-lg-9': !showDetail,  'col-md-9': !showDetail, 'col-sm-12': !showDetail, 'col-md-5' : showDetail}">
            <div class="show-details" *ngIf="activeCard[lastIdx] || showDetail">
                <button class="toggle-btn btn btn-outline-secondary btn-lg btn-block" (click)="expandDetails()">
                    {{ (showDetail) ? 'Hide' : 'Show' }} Details
                </button>
            </div>
            <div
                [ngClass]="{'map-height' : (activeCard[lastIdx] || showDetail), 'map-height-100' : (!activeCard[lastIdx] || !showDetail)}">
                <app-map-view></app-map-view>
            </div>
            <button #detailsBtn *ngIf="activeCard[lastIdx] || showDetail" (click)="expandDetails();"
                class="toggle-btn btn btn-outline-secondary btn-lg btn-block hidden visible-xs hide-btn" type="button"
                data-toggle="collapse" data-target="callDetails" aria-expanded="true" aria-controls="callDetails">
                <span class="btn-txt">
                    {{ (showDetail) ? 'Hide' : 'Show' }} Details
                    <i class="i-Arrow-Down-3" aria-hidden="true"
                        style="float: right;padding: 0px;color: red;font-size: 16px;font-weight: bold;"
                        *ngIf="!isDetails"></i>
                    <i class="i-Arrow-Up-3" aria-hidden="true"
                        style="float: right;padding: 0px;color: red;font-size: 16px;font-weight: bold;"
                        *ngIf="isDetails"></i>
                </span>
            </button>

        </div>
        <div class="detail-list callDetails" id="callDetails"
            [ngClass]="{'col-lg-4': showDetail, 'col-md-4' : showDetail, 'col-sm-12' : showDetail}" *ngIf="showDetail"
            [@animate]="{value:'*',params:{x:'120px',opacity:'0',delay:'50ms', duration: '250ms'}}">
            <div class="card border-light mb-3 o-hidden" style="width: 100%;">
                <div class="card-body coll" [ngClass]="{'active-card' : activeCard[i]}" style="padding: 0px">
                    <span class="card-title" style="text-align:center; margin: 0px auto;">
                        <h5>{{ (branch.Branch) ? branch.Branch : branch.Franchise }}</h5>
                        <h6><small><em>Data as on {{ branch.last_updated_on | date : 'd MMM y, h:mm a' }}</em></small></h6>
                    </span>
                </div>
            </div>
            <div class="card border-light mb-3 o-hidden table-card" style="width: 100%;">
                <!-- <div class="card-body coll"> -->
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <!-- <th scope="col">Total</th>
                            <th scope="col">Open</th>
                            <th scope="col">Assigned</th>
                            <th scope="col">Pending</th>
                            <th scope="col">Negative Response</th> -->
                            <th scope="col">INSTALLATION CALL</th>
                            <th scope="col">SERVICE CALL</th>

                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let branch of branch.Details; let i=index;">
                            <tr>
                                <th scope="row">{{ i+1 }}</th>
                                <td>{{ branch.INSTALLATION_CALL_count | absVal}}</td>
                                <td>{{ branch.SERVICE_CALL_count | absVal}}</td>
                                <!--   <th scope="row">{{ branch.ProcessType }}</th>
                                <td>{{ branch.Total | absVal}}</td>
                                <td>{{ branch.Open | absVal}}</td>
                                <td>{{ branch.Assigned | absVal}}</td>
                                <td>{{ branch.Pending | absVal}}</td>
                                <td>{{ branch.NegativeResponse | absVal}}</td> -->
                            </tr>
                            <tr class="thead-light">
                                <th scope="row"></th>
                                <!--                                 <td><i
                                        [ngClass]="{'i-Arrow-Up-in-Circle text-danger': (branch.Total_change > 0), 'i-Arrow-Down-in-Circle text-success': (branch.Total_change < 0) }"></i>
                                    {{ branch.Total_change | absVal}}</td>
                                <td><i
                                        [ngClass]="{'i-Arrow-Up-in-Circle text-danger': (branch.Open_change > 0), 'i-Arrow-Down-in-Circle text-success': (branch.Open_change < 0) }"></i>
                                    {{ branch.Open_change | absVal}}</td>
                                <td><i
                                        [ngClass]="{'i-Arrow-Up-in-Circle text-danger': (branch.Assigned_change > 0), 'i-Arrow-Down-in-Circle text-success': (branch.Assigned_change < 0) }"></i>
                                    {{ branch.Assigned_change | absVal}}</td>
                                <td><i
                                        [ngClass]="{'i-Arrow-Up-in-Circle text-danger': (branch.PendingChange > 0), 'i-Arrow-Down-in-Circle text-success': (branch.PendingChange < 0) }"></i>
                                    {{ branch.PendingChange | absVal}}</td>
                                <td><i
                                        [ngClass]="{'i-Arrow-Up-in-Circle text-danger': (branch.NegativeResponse > 0), 'i-Arrow-Down-in-Circle Negative_response_change': (branch.NegativeResponse < 0) }"></i>
                                    {{ branch.NegativeResponse | absVal}}</td> -->
                                <td><i
                                        [ngClass]="{'i-Arrow-Up-in-Circle text-danger': (branch.INSTALLATION_CALL_change > 0), 'i-Arrow-Down-in-Circle text-success': (branch.INSTALLATION_CALL_change < 0) }"></i>
                                    {{ branch.INSTALLATION_CALL_change | absVal}}</td>
                                <td><i
                                        [ngClass]="{'i-Arrow-Up-in-Circle text-danger': (branch.SERVICE_CALL_change > 0), 'i-Arrow-Down-in-Circle text-success': (branch.SERVICE_CALL_change < 0) }"></i>
                                    {{ branch.SERVICE_CALL_change | absVal}}</td>

                            </tr>
                        </ng-container>
                    </tbody>
                </table>
                <!-- </div> -->
                <!--             <div class="card border-light mb-3 o-hidden" style="width: 100%;">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Call Type</th>
                            <th scope="col">Pending for spares</th>
                            <th scope="col">Others</th>
                            <th scope="col">Negative Response</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let branch of branch; let i=index;">
                            <tr>
                                <th scope="row">{{ branch.ProcessType }}</th>
                                <td>{{ branch.Pending }}</td>
                                <td>{{ branch.Other_pending_reasons }}</td>
                                <td>{{ branch.NegativeResponse }}</td>
                            </tr>
                            <tr class="thead-light">
                                <th scope="row"></th>
                                <td><i
                                        [ngClass]="{'i-Arrow-Up-in-Circle text-danger': (branch.PendingChange > 0), 'i-Arrow-Down-in-Circle text-success': (branch.PendingChange < 0) }"></i>
                                    {{ branch.PendingChange }}</td>
                                 <td><i
                                        [ngClass]="{'i-Arrow-Up-in-Circle text-danger': (branch.Other_pending_reasons_change > 0), 'i-Arrow-Down-in-Circle text-success': (branch.Other_pending_reasons_change < 0) }"></i>
                                    {{ branch.Other_pending_reasons_change }}</td>
                                <td><i
                                        [ngClass]="{'i-Arrow-Up-in-Circle text-danger': (branch.NegativeResponse > 0), 'i-Arrow-Down-in-Circle Negative_response_change': (branch.NegativeResponse < 0) }"></i>
                                    {{ branch.NegativeResponse }}</td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
 -->
            </div>
        </div>
    </div>
</div>